<% layout('customer-page.ejs') -%>

<div class="vh-80 flex flex-middle relative dp-loginStyle">
    <div class="vw-30 vw-s-100 px-s-2 text-center dp-loginStyle-box">

        <% if (type == 'reset'){ %>

            <h2 class="mb-1 capitalise">Password Reset</h2>
            <p class="mb-2">Enter your email address below and we will send you a password reset confirmation</p>
            <form method="post" action="/login/<%- guard %>/send_reset" class="grid col-1 gap-1 common-form common-form-border">
                <div class="">
                    <input type="text" name="email" placeholder="Email Address">
                </div>
                <div>
                    <input type="submit" class="btn bg-primary width-full" value="Send">
                </div>
            </form>
            <% } else if (type == 'reset_error'){ %>

            <h2 class="mb-1 capitalise">Password Reset</h2>
            <p class="mb-2">Enter your email address below and we will send you a password reset confirmation</p>
            <form method="post" action="/login/<%- guard %>/send_reset" class="grid col-1 gap-1 common-form common-form-border">
                <div class="">
                    <input type="text" value="<%= oldEmail%>" name="email" placeholder="Email Address">
                    <div class="text-33-red mt-1">Email is not valid!</div>
                </div>
                <div>
                    <input type="submit" class="btn bg-primary width-full" value="Send">
                </div>
            </form>
        <% } else if (type == 'reset_sent'){ %>

            <img src="/icons/DR_Icon_EmailSent.svg" class="mb-2 icon xxl">
            <h2 class="mb-1">We have sent you an email</h2>
            <p class="mb-2">Simply click the link in the email to create a new password</p>

        <% } else { %>

            <h2 class="mb-1">Create New Password</h2>
            <p class="mb-2">Enter your email address and new password below</p>
            <form method="post" action="/login/<%- guard %>/reset_password" class="grid col-1 gap-1 common-form common-form-border">
                <div class="">
                    <input type="text" name="email" placeholder="Email Address">
                </div>
                <div class="">
                    <input type="password" name="password" placeholder="New Password">
                </div>
                <div class="">
                    <input type="password" name="password_conf" placeholder="Confirm Password">
                    <input type="hidden" name="hash" value="<%- type %>">
                </div>
                <div>
                    <input type="submit" class="btn bg-secondary width-full" value="Login">
                </div>
            </form>

        <% } %>

        <% if (typeof error != 'undefined'){ %>
            <div class="text-33-red mt-2"><%- error %></div>
        <% } %>

    </div>
</div>
