<% layout('dashboard.ejs') -%>

    <%- include ../../dashboard/partials/header.ejs %>

    <div class="hidden" app-init="get('salon','54855602')"></div>

    <div class="page grid col-12 col-s-1 client overflow-hidden" app-init="get('customers','<%- client_data._key %>','client_profile')">

        <div class="colspan-4 bg-grey overflow-y">

            <div class="flex flex-middle-left mb-2 text-left p-1 bg-secondary p-1 radius-10 box-shadow dashboard-card">
                <img src="/images/avatars/Profile_Placeholder.svg" app-src="client_profile.avatar" class="avatar">
                <div class="pl-1">
                    <div class="capitalise text-weight-600 text-white" app-bind="parseName(client_profile.name)"></div>
                    <div class="text-white" app-bind="client_profile.tel"></div>

                    <div class="text-white" app-bind="client_profile.email" app-class="{'text-red':client_profile.email_bounce == 'true'}"></div>
                </div>
            </div>

            <textarea app-model="client_profile.notes" placeholder="Add a note for this client">
            </textarea>

            <div class="text-right"><a class="btn bg-secondary mb-3" app-click="saveClientCard()">Save Note<span class="icon note right white"></span></a></div>

            <div class="msg-wrap">
                <div class="msg" app-class="{'active':view.tab == 'one'}" app-click="view.tab = 'one'">
                    <div class="flex-6 pl-2 pr-s-1">
                        <div class="text-weight-600">Client Details</div>
                    </div>
                    <div class="flex-1 flex flex-middle">
                        <span class="icon client secondary"></span>
                    </div>
                </div>

                <div class="msg" app-class="{'active':view.tab == 'appointments'}" app-click="view.tab = 'appointments'">
                    <div class="flex-6 pl-2 pr-s-1">
                        <div class="text-weight-600">Appointments</div>
                    </div>
                    <div class="flex-1 flex flex-middle">
                        <span class="icon calendar secondary"></span>
                    </div>
                </div>

                <div class="msg" app-class="{'active':view.tab == 'six'}" app-click="view.tab = 'six'">
                    <div class="flex-6 pl-2 pr-s-1">
                        <div class="text-weight-600">Membership</div>
                    </div>
                    <div class="flex-1 flex flex-middle">
                        <span class="icon tick secondary"></span>
                    </div>
                </div>

                <div class="msg" app-class="{'active':view.tab == 'two'}" app-click="showConsultations('<%- client_data._key %>')">
                    <div class="flex-6 pl-2 pr-s-1">
                        <div class="text-weight-600">Consultations</div>
                    </div>
                    <div class="flex-1 flex flex-middle">
                        <span class="icon note secondary"></span>
                    </div>
                </div>

                <div class="msg" app-class="{'active':view.tab == 'three'}" app-click="view.tab = 'three'">
                    <div class="flex-6 pl-2 pr-s-1">
                        <div class="text-weight-600">Receipts</div>
                    </div>
                    <div class="flex-1 flex flex-middle">
                        <span class="icon transaction secondary"></span>
                    </div>
                </div>

                <div class="msg" app-class="{'active':view.tab == 'four'}" app-click="view.tab = 'four'">
                    <div class="flex-6 pl-2 pr-s-1">
                        <div class="text-weight-600">Documents</div>
                    </div>
                    <div class="flex-1 flex flex-middle">
                        <span class="icon note secondary"></span>
                    </div>
                </div>

                <div class="msg" app-class="{'active':view.tab == 'five'}" app-click="view.tab = 'five'">
                    <div class="flex-6 pl-2 pr-s-1">
                        <div class="text-weight-600">Logs</div>
                    </div>
                    <div class="flex-1 flex flex-middle">
                        <span class="icon services secondary"></span>
                    </div>
                </div>

            </div>

        </div>

        <div class="colspan-8 bg-light-grey p-2 overflow-y">

            <div class="overflow-y pb-5 pr-2">

                <div  app-show="view.tab == 'one'">

                    <div class="grid col-2 gap-1 relative layer-2 bg-white ">
                        <h4 class="text-primary">Client Details</h4>
                        <div class="text-right">
                            <div class="relative flex flex-middle-right">

                                <div class="btn-wrap context-link">
                                    <button class="btn btn-left bg-secondary mr-1" app-click="saveClientCard()">Save<span class="icon tick right white"></span></button>
                                    <button class="btn btn-right bg-secondary" app-click="toggleContext('new_event')"><span class="icon arrowdown white"></span></button>
                                </div>

                                <div class="context dropdown text-left" id="context-new_event" style="display: none; right:0; left: auto; top:2.2rem">
                                    <a class="link" app-click="addNewEvent('customer_appointment',client_profile._key)"><span class="icon calendar left black"></span>New Appointment</a>
                                    <a class="link" app-click="sendAuthLink(client_profile._key)"><span class="icon signin left black"></span>Send Login Link</a>
                                    <a class="link" app-click="newTransaction(client_profile._key)"><span class="icon transaction left black"></span>New Transaction</a>
                                    <a class="link" app-click="view.modal = 'send_notification'"><span class="icon reminder left black"></span>Contact Client</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid col-2 col-s-1 gap-2 relative layer-1 clientProfile-rightCard">

                        <div class="grid col-4 gap-1">
                            <div class="" style="width: 5rem">
                                <label>Client Image</label>
                                <label for="image_avatar" class="clickable"><img src="/images/products/upload.svg" app-src="client_profile.avatar" class="avatar radius-0"></label>
                                <input id="image_avatar" type="file" app-model="client_profile.avatar">
                            </div>
                            <div class="colspan-3">
                                <label>First Name / Surname</label>
                                <input type="text" class="rounded mb-1" app-model="client_profile.name.first" placeholder="First Name" autocomplete="given-name">
                                <input type="text" class="rounded" app-model="client_profile.name.last" placeholder="Surname" autocomplete="family-name">
                            </div>
                        </div>

                        <div class="text-right layer-2">



                        </div>

                        <div class="">


                            <div>
                                <label>Phone Number</label>
                                <% if (typeof user != 'undefined' && user.guard == 'admin' || typeof user != 'undefined' && user.role >= 1){ %>
                                    <input type="text" class="rounded" app-model="client_profile.tel" autocomplete="tel">
                                <% } else { %>
                                    <span app-bind="client_profile.tel"></span>
                                <% } %>
                            </div>
                            <div>
                                <label>Email Address</label>
                                <% if (typeof user != 'undefined' && user.guard == 'admin' || typeof user != 'undefined' && user.role >= 1){ %>
                                    <input type="email" class="rounded" app-model="client_profile.email" autocomplete="email">
                                <% } else { %>
                                    <span app-bind="client_profile.email"></span>
                                <% } %>
                            </div>
                            <div>
                                <label>Gender</label>
                                <select app-model="client_profile.gender" class="rounded">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div>
                                <label>Date of birth</label>
                                <div class="grid col-3 gap-1">
                                    <input type="number" app-model="client_profile.dob.date" placeholder="DD" class="rounded" autocomplete="bday-day">
                                    <input type="number" app-model="client_profile.dob.month" placeholder="MM" class="rounded" autocomplete="bday-month">
                                    <input type="number" app-model="client_profile.dob.year" placeholder="YY" class="rounded" autocomplete="bday-year">
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div>
                                <label>Address</label>
                                <input type="text" class="rounded mb-1" app-model="client_profile.address.line1" placeholder="Address Line 1" autocomplete="address-line1">

                                <input type="text" class="rounded mb-1" app-model="client_profile.address.line2" placeholder="Address Line 2"  autocomplete="address-line2">

                                <input type="text" class="rounded mb-1" app-model="client_profile.address.town" placeholder="Town / City"  autocomplete="city">

                                <input type="text" class="rounded mb-1" app-model="client_profile.address.county" placeholder="County"  autocomplete="address-level1">

                                <input type="text" class="rounded mb-1" app-model="client_profile.address.postcode" placeholder="Postcode"  autocomplete="postal-code">
                            </div>
                        </div>

                    </div>



                    <div class="grid col-2 col-s-1 gap-2 mt-3 pb-7">
                        <div>
                            <label>Account Balance</label>
                            <input type="text" class="rounded text-right mb-1" app-model="client_profile.balance.total" <% if (typeof user != 'undefined' && user.role < 2){ %>disabled<% } %>>

                            <label>Stripe ID</label>
                            <input type="text" class="rounded mb-1" app-model="client_profile.stripe_id" <% if (typeof user != 'undefined' && user.role < 2){ %>disabled<% } %>>
                        </div>
                        <div class="grid col-1">

                            <div class="colspan-1 w-100">
                                <label>Risk Level</label>
                                <div class="text-red" app-bind="parseConfidence(client_profile)"></div>
                            </div>
                            <div class="colspan-1 " style="display: flex;">
                                <label class="mr-1">Unsubscribed</label>
                                <input type="checkbox" app-bind="client_profile.unsubscribe">
                            </div>

                            <div class="colspan-1">
                                <label>Last Skin Test</label>
                                <div class=""><span app-click="toggleContext('datepicker')" class="bg-primary text-white clickable context-link dp-btn"><span app-hide="client_profile.skin_test">Update</span><span app-show="client_profile.skin_test" app-bind="parseISODate(client_profile.skin_test,'Do MMMM YYYY')"></span></span>
                                    <div class="relative">
                                        <%- include(view.basedir+'/components/dashboard/partials/date-picker-simple.ejs',{type:'skin_test',obj:'client_profile.skin_test'}) %>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div app-show="view.tab == 'appointments'">

                    <div class="grid col-2 gap-1">
                        <h4 class="text-primary mb-2">Upcoming Appointments</h4>
                        <div class="text-right">
                            <a class="btn bg-secondary" app-click="addNewEvent('customer_appointment',client_profile._key)">New Appointment<span class="icon calendar right white"></span></a>
                        </div>
                    </div>

                    <div class="appointment-wrap">

                        <% var month_curr, month_prev %>

                        <% if (typeof client_data != "undefined" && Array.isArray(client_data.appointments)){ client_data.appointments.forEach((appointment) => { %>

                            <% if (appointment.date >= new Date().toISOString()) { %>

                                <% month_curr = functions.getMonth(appointment.date) %>

                                <% if (month_curr != month_prev){ %>
                                    <h4><%- month_curr %></h4>
                                <% } %>

                                <div class="appointment <%- appointment.status %>">
                                    <div class="date">
                                        <div class="day"><%- functions.getDay(appointment.date) %></div>
                                        <div class="date"><%- functions.getDate(appointment.date) %></div>
                                    </div>
                                    <div class="info">
                                        <div class="text-bold"><%- functions.getStart(appointment.date) %></div>
                                        <div class=""><span class="capitalise"><%- appointment.service_name %></span> with <span class="capitalise"><%- appointment.staff.name.first %></span></div>
                                        <div class=""><%- appointment.source %> - <%- appointment.status %></div>
                                    </div>
                                    <div class="action">
                                    <% if (appointment.status != 'deleted') { %>
                                        <a href="/dashboard/calendar/<%- functions.parseCalendarLink(appointment.date) %>?appointment_id=<%- appointment._key %>" class="btn border">View</a>
                                    <% } else { %>
                                        <span><%- appointment.note %></span>
                                    <% } %>
                                    </div>
                                </div>

                                <% month_prev = month_curr %>

                            <% } %>

                        <% }) } %>

                    </div>

                    <h4 class="text-primary mt-2 mb-2">Past Appointments</h4>

                    <div class="appointment-wrap">

                        <% var month_curr, month_prev %>

                        <% if (typeof client_data != "undefined" && Array.isArray(client_data.appointments)){ client_data.appointments.forEach((appointment) => { %>

                            <% if (appointment.date < new Date().toISOString()) { %>

                                <% month_curr = functions.getMonth(appointment.date) %>

                                <% if (month_curr != month_prev){ %>
                                    <h4><%- month_curr %></h4>
                                <% } %>

                                <div class="appointment <%- appointment.status %>">
                                    <div class="date">
                                        <div class="day"><%- functions.getDay(appointment.date) %></div>
                                        <div class="date"><%- functions.getDate(appointment.date) %></div>
                                    </div>
                                    <div class="info">

                                        <div class="text-bold"><%- functions.getStart(appointment.date) %></div>
                                        <div><span class="capitalise"><%- appointment.service_name %></span> with <span class="capitalise"><%- appointment.staff.name.first %></span></div>

                                        <div class="capitalise text-33-dark-grey text-small">
                                            <% if (appointment.service_client_id && appointment.service_client_id == client_data._key){ %>
                                                Booked by <a href="/dashboard/clients/<%- appointment.customer_id %>" class="capitalise text-primary"><%- appointment.customer.name.first %> <%- appointment.customer.name.last %></a><br>
                                            <% } %>
                                            <% if (appointment.service_client_id && appointment.service_client_id != client_data._key && typeof appointment.service_client == 'object' && appointment.service_client.name){ %>
                                                Service booked for <a href="/dashboard/clients/<%- appointment.service_client_id %>" class="capitalise text-primary"><%- appointment.service_client.name.first %> <%- appointment.service_client.name.last %></a><br>
                                            <% } %>
                                            <%- appointment.source %> - <%- appointment.status %>
                                        </div>

                                    </div>
                                    <div class="action">
                                        <% if (appointment.status != 'deleted') { %>
                                            <a href="/dashboard/calendar/<%- functions.parseCalendarLink(appointment.date) %>?appointment_id=<%- appointment._key %>" class="btn border">View</a>
                                        <% } else { %>
                                            <span><%- appointment.note %></span>
                                        <% } %>
                                    </div>
                                </div>

                                <% month_prev = month_curr %>

                            <% } %>

                        <% }) } %>

                    </div>

                </div>

                <div class="" app-show="view.tab == 'two'">

                    <div class="grid col-2 gap-1">
                        <h4 class="text-primary mb-2">Consultations</h4>
                        <div class="text-right">
                            <a class="btn bg-secondary" app-click="newConsultation(client_profile._key)">New Consultation<span class="icon arrowright right white"></span></a>
                        </div>
                    </div>

                    <input type="text" class="search mb-2" placeholder="Search by year or stylist name" app-model="view.search" onkeyup="scope.searchApi('consultations',this.value,false,'<%- client_data._key %>')" spellcheck="false">

                    <div class="appointment-wrap">
                        <div class="appointment confirmed" app-for="consultation in consultations">
                            <div class="date">
                                <div class="day" app-bind="parseISODate(consultation._created,'Do')"></div>
                                <div class="date" app-bind="parseISODate(consultation._created,'MMM')"></div>
                            </div>
                            <div class="info">
                                <div app-show="consultation.hair_achieve" class="italic">"<span app-bind="truncate(consultation.hair_achieve,50)"></span>"</div>
                                <div app-show="consultation.specific_instruction" class="italic">"<span app-bind="truncate(consultation.specific_instruction,50)"></span>"</div>
                                <div class="mt-05 text-small">
                                    <div>Client Confirmed: <span class="text-weight-600" app-bind="parseISODate(consultation.confirmed,'h:mma')"></span></div>
                                    <div>Stylist Confirmed: <span class="text-weight-600" app-bind="parseISODate(consultation.stylist_confirmed,'h:mma')"></span></div>
                                </div>
                            </div>
                            <div class="action">
                                <button app-click="openConsultation({{index}})" class="btn border">View</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="" app-show="view.tab == 'three'">
                    <div class="grid col-2 gap-1">
                        <h4 class="text-primary mb-2">Receipts</h4>
                        <div class="text-right">
                            <a class="btn bg-secondary" app-click="newTransaction(client_profile._key)">New Transaction<span class="icon transaction right white"></span></a>
                        </div>
                    </div>

                    <% if (Array.isArray(transactions)){  %>
                        <% var month_curr, month_prev %>

                        <div class="appointment-wrap">

                            <% transactions.forEach((transaction) => { %>

                                <% month_curr = functions.getMonth(transaction._created) %>

                                <% if (month_curr != month_prev){ %>
                                    <h4><%- view.functions.parseDate(transaction._created, 'MMMM YYYY') %></h4>
                                <% } %>

                                <div class="appointment paid">
                                    <div class="date">
                                        <div class="day"><%- functions.getDay(transaction._created) %></div>
                                        <div class="date"><%- functions.getDate(transaction._created) %></div>
                                    </div>
                                    <div class="info grid col-3 text-small">

                                        <% transaction.items.forEach((item) => { %>
                                            <div class="colspan-2">
                                                <%- item.name %>
                                                <% if (item.type == 'vouchers' && item.barcode){ %>
                                                    <br><small><a class="text-primary" href="/dashboard/checkout/vouchers?search=<%- item.barcode %>"><%- item.barcode %></a></small>
                                                <% } %>
                                            </div>
                                            <div class="text-right">
                                                £<%- view.functions.getPrice(item,false,true) %>
                                            </div>
                                        <% }) %>

                                        <div class="colspan-2 text-33-grey">Method</div>
                                        <div class="text-right text-33-grey capitalise"><%- transaction.method %></div>
                                        <div class="colspan-2 text-weight-600">Total</div>
                                        <div class="text-right text-weight-600">£<%- transaction.total %></div>

                                        <% if (transaction.refund_value){ %>
                                            <div class="my-1">£<%- transaction.refund_value %> refunded <% if (transaction.refund_method){ %>via <%- transaction.refund_method %><% } %></div>
                                        <% } %>

                                        <% if (transaction.note){ %>
                                            <div class="mt-1 colspan-3 bg-light-grey rounded p-1 w-100"><%- transaction.note %></div>
                                        <% } %>

                                    </div>
                                    <div class="action">
                                        <% if (typeof user != "undefined" && user.guard == 'admin' || typeof user != "undefined" && user.guard == 'staff' && user.role >= 2){ %>
                                            <a href="/dashboard/checkout/<%- transaction._key %>" class="btn border">Edit</a>
                                        <% } %>
                                        <a href="/dashboard/checkout/transactions/print/<%- transaction._key %>" target="print" class="btn border">Print</a>
                                        <a app-click="emailReceipt('<%- transaction._key %>')" class="btn border">Resend</a>
                                    </div>
                                </div>

                                <% month_prev = month_curr %>

                            <% }) %>
                        </div>
                    <% } %>
                </div>

                <div class="" app-show="view.tab == 'four'">
                    <div class="grid col-2 col-s-1">
                        <div class="flex flex-middle-left">
                            <h4 class="text-primary">Uploaded Documents</h4>
                        </div>
                        <div class="text-right">

                            <form method="post" action="/dashboard/clients/upload/<%- client_data._key %>" enctype="multipart/form-data">
                                <input type="file" id="upload" name="upload" class="hidden hidden-m hidden-s" onchange="uploadForm()">
                                <label for="upload" class="btn bg-secondary w-s-100 mt-s-2" id="upload_label">Add a new document <span class="icon add right white"></span></label>
                                <input type="submit" value="Upload" class="btn bg-secondary" id="upload_submit" style="display:none">
                            </form>

                            <script>
                                function uploadForm(){
                                    document.getElementById('upload_submit').style.display = 'inline-block'
                                    var label = document.getElementById('upload_label')
                                    label.classList.remove('bg-primary')
                                    var fullPath = document.getElementById('upload').value;
                                    if (fullPath) {
                                        var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                                        var filename = fullPath.substring(startIndex);
                                        if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                                            filename = filename.substring(1);
                                        }
                                        label.innerHTML = filename;
                                    }
                                }
                            </script>

                        </div>

                    </div>

                    <div class="mt-2 appointment-wrap">
                        <% if (typeof client_data.documents == 'object' && client_data.documents != null){ %>
                            <% client_data.documents.forEach((document) => { %>

                                <div class="appointment">
                                    <div class="date">
                                        <div class="day"><%- functions.getMonth(document._created) %></div>
                                        <div class="date text-small"><%- functions.getYear(document._created) %></div>
                                    </div>
                                    <div class="info">
                                        <div class="text-bold"><%- document.name %></div>
                                    </div>
                                    <div class="text-right"><a class="btn border" href="/dashboard/clients/download/<%- document.path %>" download><i class="fas fa-download"></i></a></div>
                                </div>

                            <% }) %>
                        <% } %>


                    </div>

                </div>

                <div class="" app-show="view.tab == 'five'">
                    <div class="mb-2">
                        <div class="mb-2">
                            <h4 class="text-primary">Client Logs</h4>
                        </div>
                        <div>
                            <div app-for="log in client_profile.log">
                                <div class="text-small text-33-grey"><span app-bind="parseISODate(log.date,'D/MM/YY [-] h:mma')"></span>
                                    <span app-show="log.user.name"><br><span app-bind="log.user.name"></span></span>
                                </div>
                                <div class="mb-1" app-bind="log.log"></div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="" app-show="view.tab == 'six'" app-init="get('/dashboard/clients/memberships','prices','memberships')">

                    <% if (typeof membership != 'undefined'){ %>

                        <div class="mb-2" app-show="client_profile.membership">
                            <div class="mb-2 grid col-2">
                                <h4 class="text-primary">Client Membership</h4>
                                <div class="text-right">
                                    <button class="btn bg-secondary" id="<%- membership.id %>" app-click="unsubscribe('<%- client_data._key %>','<%- membership.id %>')">Cancel Membership<span class="icon close white right"></span></button>
                                    <button class="btn border transparent-2" id="wait-<%- membership.id %>" style="display: none">Please wait...</button>
                                </div>
                            </div>

                            <div class="bg-white p-2 rounded grid col-12 text-small">

                                <div class="colspan-2 text-weight-600">Membership</div><div class="colspan-10 capitalise"><%- membership.items.data[0].plan.nickname %></div>
                                <div class="colspan-2 text-weight-600">Amount</div><div class="colspan-10 capitalise">£<%- (membership.items.data[0].plan.amount/100).toFixed(2) %> every <% if (membership.items.data[0].plan.interval_count > 1){ %><%- membership.items.data[0].plan.interval_count %> <%- membership.items.data[0].plan.interval %>s<% } else { %><%- membership.items.data[0].plan.interval %><% } %></div>
                                <div class="colspan-2 text-weight-600">Status</div><div class="colspan-10 capitalise"><%- membership.status %></div>
                                <div class="colspan-2 text-weight-600">Membership Start</div><div class="colspan-10 capitalise"><%- moment.unix(membership.created).format('dddd Do MMMM YYYY') %></div>
                                <div class="colspan-2 text-weight-600">Collection Method</div><div class="colspan-10 capitalise"><%- membership.collection_method %></div>

                            </div>
                        </div>

                    <% } %>

                        <div class="mb-2" app-hide="client_profile.membership">
                            <div class="mb-2">
                                <h4 class="text-primary">Memberships</h4>
                            </div>
                            <div>
                                <div app-for="mbshp in memberships" class="mb-05 bg-white p-2 rounded grid col-2">
                                    <div class="flex flex-middle-left flex-column capitalise">
                                        <div class="text-weight-600" app-bind="mbshp.name"></div>
                                        <div app-bind="mbshp.description"></div>
                                    </div>
                                    <div class="text-right">
                                        <button class="btn bg-secondary" app-attr="{'id':mbshp._key}" app-click="subscribe('','<%- client_data._key %>',mbshp._key)">Subscribe<span class="icon cardpayment white right"></span></button>
                                        <button class="btn border transparent-2" app-attr="{'id':'wait-'+mbshp._key}" style="display: none">Please wait...</button>
                                    </div>
                                </div>
                            </div>

                        </div>


                </div>

            </div>

        </div>

    </div>

    <%- include('../../dashboard/partials/modal/client_notes.ejs') %>
    <%- include('../../dashboard/partials/modal/client_profile.ejs') %>
    <%- include('../../dashboard/partials/modal/consultation.ejs') %>

    <div class="modal" app-show="view.modal == 'send'" anim="{'enter':'fade-in'}">

        <div class="modal-body" anim="{'enter':'move-up','duration':'0.2'}">

            <div class="grid col-12 pb-1 gap-2">
                <div class="colspan-11">
                    <h4 class="text-light">
                        Receipt will be emailed to the customers current email address. Ok to send?
                    </h4>
                </div>
                <div class="text-right">
                    <h4 class="close-icon text-light clickable" onclick="modalCloseAll()">&times;</h4>
                </div>

            </div>
            <div class="grid col-2 pb-1 gap-2">
                <div class="text-right pt-1">
                    <a class="btn w-100" app-click="modalCloseAll()">
                        Cancel
                    </a>
                </div>

                <div class="text-right pt-1">
                    <a class="btn bg-secondary w-100" app-click="emailReceipt()">
                        Send
                    </a>
                </div>
            </div>

        </div>

    </div>


    <div class="modal" app-show="view.modal == 'send_notification'" anim="{'enter':'fade-in'}">

        <div class="modal-body p-0" anim="{'enter':'move-up','duration':'0.2'}">

              <div class="modal-header">
                <div class="title">
                    <h4 class="text-black">
                        Send a notification
                    </h4>
                </div>
                <div class="text-right">
                    <h4 class="close-icon text-light clickable" onclick="modalCloseAll()">&times;</h4>
                </div>

            </div>
            <div class="modal-content p-2">
            <textarea app-model="view.client_notification_msg" autofocus></textarea>
            <div class="my-1 flex">
                <% if (typeof client_data != 'undefined' && client_data.tel && client_data.tel.match(/^(07|\+447)/)){ %>
                    <button class="dp-btn bg-primary mr-1 flex-none" app-click="view.client_notification_method = 'sms'" app-class="{'bg-secondary':view.client_notification_method == 'sms'}">Via SMS</button>
                <% } %>
                <button class="dp-btn bg-secondary flex-none" app-click="view.client_notification_method = 'email'" app-class="{'bg-secondary':view.client_notification_method == 'email'}">Via Email</button>
                <div class="flex-1 text-right" app-class="{'text-33-red':view.client_notification_msg.length > '160'}" app-bind="view.client_notification_msg.length"></div>
            </div>
            <div class="modal-appointment-actions flex flex-middle-right">
                <div class="text-right mr-1">
                    <a class="dp-btn bg-primary w-100" onclick="modalCloseAll()">
                        Cancel
                        <span class="icon close right white"></span>
                    </a>
                </div>

                <div class="text-right ">
                    <a class="dp-btn bg-secondary text-white w-100" app-click="sendSMS()">
                        Send
                        <span class="icon tick right white"></span>
                    </a>
                </div>
            </div>

        </div>

    </div>

    </div>

    <div class="modal" app-show="view.modal == 'show_consultation'" anim="{'enter':'fade-in'}">

        <div class="modal-body" anim="{'enter':'move-up','duration':'0.2'}">

            <div class="grid col-12 pb-1 gap-2 mb-s-2" style="min-height: 3rem">
                <div class="colspan-11">
                    <h4 class="text-light">
                        Client Consultation <span app-bind="parseISODate(view.consultation._created,'dddd Do MMM YYYY [at] h:mma')"></span>
                    </h4>
                </div>
                <div class="text-right">
                    <h4 class="close-icon text-light clickable" onclick="modalCloseAll()">&times;</h4>
                </div>

            </div>

            <div class="consultation-modal-questions">
                <div class="mb-1 rowspan-5 consultation-modal-image" app-show="view.consultation.image">
                    <img app-src="view.consultation.image">
                </div>

                    <div class="mb-1">
                        <label class="mb-0">What would you like to achieve with your hair?</label>
                        <div app-bind="view.consultation.hair_achieve"></div>
                    </div>

                    <div class="mb-1 mt-s-1">
                        <label class="mb-0">Specific Instruction</label>
                        <div app-show="view.consultation.specific_instruction" app-bind="view.consultation.specific_instruction"></div>
                        <div app-hide="view.consultation.specific_instruction" class="italic text-grey">Nothing specified</div>
                    </div>

                    <div class="mb-1 mt-s-1">
                        <label class="mb-0">Contraindication</label>
                        <div app-show="view.consultation.contraindication" app-bind="view.consultation.contraindication"></div>
                        <div app-hide="view.consultation.contraindication" class="italic text-grey">Nothing specified</div>
                    </div>
                    <div class="mb-1 mt-s-1">
                        <label class="mb-0">Client Confirmed</label>
                        <div app-bind="parseISODate(view.consultation.confirmed,'dddd Do MMMM YYYY h:mma')"></div>
                    </div>

                    <div class="mb-1 mt-s-1">
                        <label class="mb-0">Stylist Confirmed</label>
                        <div app-bind="parseISODate(view.consultation.stylist_confirmed,'dddd Do MMMM YYYY h:mma')"></div>
                    </div>

                    <div class="mb-1 mt-2">
                        <label class="mb-0">Hair description</label>
                        <div class="capitalise" app-bind="view.consultation.hair_description"></div>
                    </div>
                    <div class="mb-1 mt-2">
                        <label class="mb-0">Client's hair length</label>
                        <div class="capitalise" app-bind="view.consultation.hair_length"></div>

                    </div>
                    <div class="mb-1">
                        <label class="mb-0">Client's natural hair texture</label>
                        <div class="capitalise" app-bind="view.consultation.hair_texture"></div>

                    </div>
                    <div class="mb-1">
                        <label class="mb-0">How does the client style their hair</label>
                        <div class="capitalise" app-bind="view.consultation.hair_styling"></div>

                    </div>

                    <div class="mb-1">
                        <label class="mb-0">Styling tools used</label>
                        <div class="capitalise" app-bind="view.consultation.tools_used"></div>

                    </div>
                    <div class="mb-1">
                        <label class="mb-0">Chemical services that have been applied</label>
                        <div class="capitalise" app-bind="view.consultation.chemical_services"></div>

                    </div>
                    <div class="mb-1">
                        <label class="mb-0">Feeling of the client's hair when wet</label>
                        <div class="capitalise" app-bind="view.consultation.wet_hair_feeling"></div>

                    </div>
                    <div class="mb-1">
                        <label class="mb-0">Washes per week on average</label>
                        <div class="capitalise" app-bind="view.consultation.wash_frequency"></div>

                    </div>

                </div>

            </div>



        </div>

    </div>
