<% layout('dashboard.ejs') -%>

    <%- include ../../dashboard/partials/header.ejs %>

    <div class="page grid col-12 col-s-1 client " >

       

        <div class="colspan-12 p-2 bg-light-grey">

            <div class="tabs">
                <!-- <a   >Food Category Settings</a> -->
                <!-- <a class="clickable" app-click="view.tab = 'three'" app-class="{'active':view.tab == 'three'}">Liquor Category Settings</a> -->
                <!--a class="clickable" app-click="view.tab = 'five'" app-class="{'active':view.tab == 'five'}">Product Settings</a>
                <a class="clickable" app-click="view.tab = 'four'" app-class="{'active':view.tab == 'four'}">Consultation Templates</a-->
            </div>


          

            <div class="overflow-y pb-5 pr-2">

                <!-- <h4 class="text-primary mt-2 mb-2">FoodCafe Categories</h4> -->

                <div class="not-sortable " >
                    <div class="grid gap-2 col-12 px-15 py-06 bg-white rounded common-form common-form-border radius-0" style="border-bottom: 1px solid #ddd;">
                        <div class="colspan-2  common-border">
                            <label for="new_image" class="clickable flex">
                                <img src="/images/products/upload.svg" app-src="new.image" style="opacity: 1; height:auto" class="object-fit uploadMed"> 
                            </label>
                            <input type="file" app-model="new.image" id="new_image" class="app-hidden">
                        </div>
                        <div class="colspan-7 flex flex-middle-left">
                            <input style="opacity:1" type="text" id="newCategory" class="no-style@" placeholder="Type here to add a new category">
                        </div>
                        <div class="colspan-3 text-right @flex "><button class="btn bg-secondary" app-click="saveCategory()" >Add <span class="icon add white right"></span></div>
                    </div>
                    
                    <% for(var i=0;i< category.length;i++ ) { %>
                        <div   class="grid col-12 list-item bg-none common-form cell middle">
                            
                            <div class="colspan-8 flex align-items-center" >
                                <label for="new_image1" class="clickable m-0">
                                    <img  src="<%- category[i].image%>" class="">
                                </label>
                                <input type="file" app-model="new.image" id="new_image1" class="app-hidden ">
                                <input type="text" id="<%- category[i]._key %>" value="<%- category[i].name%>"  class="ml-1  mt-0">
                            </div>
                        
                            <div class="colspan-4 justify-content-between align-items-center flex"><button type="button" class="btn bg-white" app-click="deleteCat(<%- category[i]._key%>)"><span class="icon close black"></span></button><button type="button" class="btn bg-primary mb-05" app-click="updateCatg(<%- category[i]._key%>)">Update</button></div>
                        </div>
                    <%}%>
            
                </div>

            </div>

        </div>

        <section class="footer flex flex-middle-right" >

            <!-- <button class="btn bg-secondary" app-click="updateCat(<%- category.length %>)">Save</button> -->

        </section>

    </div>

    


    
