
<div class="grid col-2 mb-2">
    <h4>Current Transactions</h4>


</div>

    <h4 app-show="view.group_transactions" class="text-primary mb-2">Select transactions to group</h4>
    <% if (typeof carts != 'undefined'){ %>
        <% for (var i in carts){ %>
            <div class="grid rounded col-5 p-1 mb-1 clickable capitalise transaction <% if (typeof carts[i].status != 'undefined'){ %>cart-<%- carts[i].status %><% } %>" app-click="groupTransaction('<%- carts[i].id.replace(/cart\_/,'') %>',<% if (typeof carts[i].customer != 'undefined'){ %>'<%- carts[i].customer.name %>'<% } %>)" app-class="view.grouped_<%- carts[i].id.replace(/cart\_/,'') %>">
                <div class="text-weight-500 colspan-2 colspan-s-5">

                    <% if (typeof carts[i].customer != 'undefined'){ %>
                        <% if (typeof carts[i].customer.avatar != 'undefined' && carts[i].customer.avatar){ %>
                            <img src="<%- carts[i].customer.avatar %>" class="icon avatar lg">
                        <% } else { %>
                            <img src="/images/avatars/Profile_Placeholder.svg" class="icon avatar lg">
                        <% } %>
                        <%- carts[i].customer.name %>
                        <% if (carts[i].status == 'complete'){ %>
                            <small class="text-33-red"> Being edited</small>
                        <% } %>

                    <% } else if (carts[i].method == 'petty_cash' && carts[i].items && carts[i].items[0]){ %>
                        Petty Cash: <%- carts[i].items[0].name %>
                        <br>
                        <%- carts[i].staff_name %>
                    <% } else { %>
                        <%- carts[i].id %>
                    <% } %>
                </div>
                <div class="flex flex-middle-right colspan-s-3">
                    <%- carts[i].items.length %> Item<% if (carts[i].items.length != 1){ %>s<% } %>
                </div>
                <div class="flex flex-middle-right text-right">
                    £<%- carts[i].total %>
                    <% if (typeof carts[i].status != 'undefined' && carts[i].status == 'pending'){ %>
                        <%- carts[i].status %>
                    <% } %>

                    <% if (typeof carts[i].link_sent != 'undefined'){ %>
                        <br>Sent: <%- functions.parseDate(carts[i].link_sent) %>
                    <% } %>
                </div>
                <div class="flex flex-middle-right text-right">

                    <% if (carts[i].method == 'petty_cash' && user.role >= 2 || carts[i].method == 'petty_cash' && user.guard == 'admin' || carts[i].method != 'petty_cash'){ %>
                        <a app-click="deleteTransaction('<%- carts[i].id %>','','<%- carts[i].status %>')"><span class="icon close right secondary"></span></a>
                    <% } %>

                </div>
            </div>
        <% } %>
    <% } %>
